/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

// html, body { height: 100%; }

body {
  background-color: #373738;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

.clearfix {
  zoom:1;

  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

  &:after {
    clear: both;
  }
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#posts ul.posts {
  list-style-type: none;
  margin-bottom: 2em;

  a.cut:after {
    content: "\0020\2192";
  }
}

.post {
  margin-top: 1.5em;

  time {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
    float: right;
  }

  h2 a{
    color: #A33446;
    font: 22px/1 Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    margin-bottom: 2em;

    &:hover, &:active, &:focus {
      text-decoration: underline;
    }
  }
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

#site {
  font-size: 115%;
  text-align: justify;
  width: 740px;
  margin: 20px auto 40px;
  line-height: 1.5em;
  padding: 20px 60px;
  background: #fff;
  border: 10px solid #666363;
}

#site > header {
  text-align: center;
  margin: 5px 0 20px;
  padding: 20px 0 0;

  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  .avatar {
    margin-bottom: 10px;
    vertical-align: baseline;
    max-width: 600px;
  }

  h1 {
    a {
      color: #000;
      font: 50px/1 Georgia, serif;
      font-weight: normal;
      text-decoration: none;

      &:hover {
        color: #A33446;
      }
    }
  }
}


#site > nav {
  padding: 0.5em 0;
  @extend .clearfix;

  ul {
    list-style: none;
    line-height: 1em;

    li {
      float:left;
      padding-right: 0.5em;
      margin-right: 0.5em;
      border-right: 1px dotted #ddd;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #555;
        font-size: 12px;

        &:hover, &:focus, &:active {
          color: #000;
          text-decoration: underline;
        }
      }

      &:last-child {
        border-right: 0 none;
        padding-right: 0;
        margin-right: 0;
      }
    }
  }
}

#site > .back:before {
  content: "\2190\0020";
}

#site > footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

/*****************************************************************************/
/*
/* Code
/*
/*****************************************************************************/

table.highlighttable {
  border-spacing: 0px;
  border-collapse: collapse;
  background-color: #f8f8f8;
  width: 100%;

  td {
    border: 1px solid #ddd;
  }

  td > div {
    border: 0 none;
  }

  .highlight {
    display: table-cell;
  }

  pre {
    padding: 1em;
  }

  td.linenos {
    text-align: right;
    background-color: #f2f2f2;
    width: 40px;
    white-space: nowrap;

    pre {
      padding: 0.5em;
    }
  }
}

.highlight {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  padding: 0 .2em;

  pre {
    padding: 1em;
  }
}

