/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #373738;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#posts ul.posts {
  list-style-type: none;
  margin-bottom: 2em;

  time {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

#site {
  font-size: 115%;
  text-align: justify;
  width: 760px;
  margin: 3em auto 2em;
  line-height: 1.5em;
  padding: 20px 50px;
  background: #fff;
  border: 10px solid #666363;
}

#site > header {
  text-align: center;
  padding: 40px 0;

  .avatar {
    margin-bottom: 10px;
    vertical-align: baseline;
    max-width: 600px;
  }

  h1 {
    margin-bottom: 2em;

    a {
      color: #000;
      font: 50px/1 Georgia, serif;
      font-weight: normal;
      text-decoration: none;

      &:hover {
        color: #A33446;
      }
    }
  }

}


#site > nav {
  a {
    color: #aaa;
    margin-left: 1em;

    &:hover {
      color: #000;
    }
  }
}

#site > footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}


/*****************************************************************************/
/*
/* Code
/*
/*****************************************************************************/

table.highlighttable {
  border-spacing: 0px;
  border-collapse: collapse;
  background-color: #f8f8f8;
  width: 100%;

  td {
    border: 1px solid #ddd;
  }

  td > div {
    border: 0 none;
  }

  .highlight {
    display: table-cell;
  }

  pre {
    padding: 1em;
  }

  td.linenos {
    text-align: right;
    background-color: #f2f2f2;
    width: 40px;
    white-space: nowrap;

    pre {
      padding: 0.5em;
    }
  }
}

.highlight {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  padding: 0 .2em;

  pre {
    padding: 1em;
  }
}

